body {
    color: midnightblue;
    text-align: center;
}
.container {
    margin-top: 50px;
}
.row {
    margin-top: 50px;
    background-color: whitesmoke; 
    font-size: 25px;

}
.col {
    border: dotted 5px midnightblue;
    padding: 35px;
}
h1 {
    padding-bottom: 10px;
    border-bottom: solid 2px midnightblue;
}