body {
    color: #003a73;
    text-align: center;
    background-image: url("../images/dust_scratches.png");
}
.container {
    margin-top: 50px;
}
.row {
    margin-top: 50px;
    background-color: whitesmoke; 
    font-size: 25px;
    background-color: white;
    min-height: 450px;

}
.col {
    border: solid 5px #003a73;
    padding: 35px;
}
h1 {
    padding-bottom: 10px;
    border-bottom: solid 2px #003a73;
    font-weight: 900;
}